body{
    background-image: linear-gradient(rgba(236, 227, 223, 0.8), rgba(161, 149, 142, 0.933), rgba(158, 118, 98, 0.533));
    height: 100vh;
    color: #080808;
    
}

h1{
    font-size: 30px;
    color: teal;
    margin-bottom: 40px;
}

p{
    font-size: 20px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}