body{
    background-image: linear-gradient(#f50c, #f50e, #f508);
    height: 100vh;
    color: #000;
    
}

h1{
    font-size: 30px;
    color: teal;
    margin-bottom: 40px;
}

p{
    font-size: 20px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}